<div class="container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 my-5">
        <div class="card my-5">
          <div class="card-header">
            <h3 class="text-center">Iniciar Sesion</h3>
          </div>
          <div class="card-body">

              <form (ngSubmit)="OnSubmit()">
                <div class="col my3">
                  <label>Correo Electronico</label>
                  <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>

                <div class="col my-3">
                  <label>Contraseña</label>
                  <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>

              <div class="col-md-8 my-3">
                <a href="/persona/crea">Registrarse</a>
              </div>
              <div class="row mx-auto">
                <button class="btn btn-primary btn-block">Inicio Sesion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
